@import "./shared";

section#about
{
    height: 100%;

    p
    {
        margin-bottom: 10px;
        font-weight: $font-3-w2;
    }

    #links
    {
        margin-top: 20px;

        ul
        {
            list-style: none;
            display: flex;
            width: 100%;
            margin-bottom: 10px;

            li
            {
                a
                {
                    font-family: $font-3;
                    font-weight: $font-3-w2;
                    color: $color-5;
                    text-transform: uppercase;
                    margin-right: 10px;
                    text-decoration: none;

                    &:before
                    {
                        content: "[ ";
                    }

                    &:after
                    {
                        content: " ]";
                    }

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #logo-image-container
    {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 75px;

        #logo-image
        {
            width: 100px;
        }
    }
}