@use "sass:math";
@import "./shared";

section#generator
{
    font-family: $font-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 125px;

    #generator-body
    {
        border: 1px solid $color-5;
        border-radius: 20px;
        padding: 60px 30px;
        width: 360px;
    }
}

#display-container
{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-5;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

    #display
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .display-text-wrapper
        {
            border: 1px solid $color-3;
            margin: 10px;
            $size: 45px;
            width: $size;
            height: $size;
            display: flex;
            justify-content: center;
            align-items: center;

            h2
            {
                text-align: center;
                font-family: $font-3;
                font-weight: $font-3-w2;
                font-size: 17px;
                color: $color-4;
            }
        }
    }
}

#buttons
{
    margin-top: 50px;

    .button-row
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        label
        {
            font-weight: $font-3-w2;
            color: $color-4;
            margin-right: 10px;
        }

        button
        {
            color: $color-5;
            border: 1px solid $color-5;
            border-radius: 50%;
            $size: 45px;
            width: $size;
            height: $size;
            background-color: transparent;
            font-family: $font-2;
            font-size: 15px;
            overflow: hidden;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

            &:hover
            {
                background-color: $color-5;
                color: $color-1;
            }
        }

        &:last-child
        {
            padding-right: 80px;
        }
    }
}

#start-select-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;

    .start-select-button
    {
        width: 65px;
        height: 13px;
        border: 1px solid $color-5;
        border-radius: 20px;
        margin: 0 15px;
    }
}