@import "./shared";

*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $color-1;
    color: $color-2;
    font-family: $font-1;
}

a
{
    color: inherit;
}

h3
{
    font-family: $font-3;
    font-weight: $font-3-w1;
    color: $color-4;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: $color-3 solid underline;
    text-underline-offset: 7px;
    margin-bottom: 20px;
    margin-top: 30px;
}

p
{
    font-family: $font-3;
    font-weight: 100;
    font-size: 20px;
}

select
{
    min-width: 100px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 15px;
    padding: 10px 10px;
    background-color: transparent;
    color: $color-5;
    border: 1px solid $color-5;
    border-radius: 0.25rem;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: $font-1;

    option
    {
        color: black;
    }
}

section
{
    width: 100%;
    padding: 15px 20px;

    &:not(&:last-of-type)
    {
        margin-bottom: 100px;
    }
}

header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $color-1;
    margin-bottom: 20px;
    padding: 15px 20px 5px 20px;

    #header-name
    {
        display: flex;
        flex-direction: column;

        h1
        {
            font-family: $font-3;
            font-size: 35px;
            letter-spacing: 2px;

            span
            {
                display: block;
                font-family: $font-3;
                font-weight: $font-3-w2;
                font-size: 15px;
                max-width: 175px;
                //letter-spacing: 1px;
            }
        }
    }

    nav
    {
        ul
        {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            list-style: none;

            li
            {
                &:not(&:first-of-type)
                {
                    margin-top: 3px;
                }

                a
                {
                    transition: text-decoration-color .2s ease-in-out;
                    text-decoration: $color-1 solid underline;
                    text-underline-offset: 2px;
                    text-transform: uppercase;
                    //letter-spacing: 1px;
                    font-size: 14px;

                    &.active
                    {
                        text-decoration: $color-5 solid underline;
                    }
                }
            }
        }
    }
}

.flex-break
{
    flex-basis: 100%;
    height: 0;
}