@import "shared";

section#settings
{
    h3
    {
        margin-bottom: 20px;
    }

    #options
    {
        .option
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-6;
            color: black;
            padding: 17px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

            &:not(&:last-of-type)
            {
                margin-bottom: 15px;
            }

            label
            {
                font-size: 15px;
                letter-spacing: 1px;
                margin-right: 10px;
                font-family: $font-3;
                font-weight: $font-3-w2;
                color: $color-4;
            }

            input[type="range"]
            {
                max-width: 130px;
            }

            output
            {
                font-size: 21px;
                letter-spacing: 1px;
                margin-right: 10px;
                font-family: $font-3;
                color: $color-4;
                margin-left: 10px;
            }
        }
    }
}