$color-1: #131313;
$color-2: #FFFFFF;
$color-3: #fc6f03;

$font-1: "Inclusive Sans", sans-serif;
$font-1-w1: 400;

$font-2: "Lato", sans-serif;
$font-2-w1: 700;

*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $color-1;
    color: $color-2;
    font-family: $font-1;
}

a
{
    color: inherit;
}

section
{
    width: 100%;
    height: 100%;
    padding: 15px 20px;
}

section#generator
{
    margin-top: 120px;
    //position: relative;

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $color-1;
        padding: inherit;

        #header-name
        {
            display: flex;
            flex-direction: column;

            h1
            {
                font-family: $font-2;
                font-size: 40px;
                letter-spacing: 2px;

                span
                {
                    display: block;
                    font-family: $font-1;
                    font-size: 15px;
                    max-width: 150px;
                    letter-spacing: 0;
                }
            }
        }

        nav
        {
            ul
            {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                list-style: none;

                li
                {
                    &:not(&:first-of-type)
                    {
                        margin-top: 8px;
                        //margin-left: 8px;
                    }

                    a
                    {
                        transition: text-decoration-color .2s ease-in-out;
                        text-decoration: $color-1 solid underline;
                        text-underline-offset: 2px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 14px;

                        &.active
                        {
                            text-decoration: $color-3 solid underline;
                        }
                    }
                }
            }
        }
    }

    #display-container
    {
        height: 300px;
        background-color: lighten($color-1, 10%);
        padding: 50px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        #display
        {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2
            {
                text-align: center;
                font-family: $font-2;
                font-size: 50px;
                word-spacing: 10px;
                line-height: 4.5rem;
            }
        }
    }

    #options
    {
        margin-top: 50px;

        .option
        {
            &:not(&:last-of-type)
            {
                margin-bottom: 20px;
            }
            
            label
            {
                font-size: 20px;
                margin-right: 10px;
            }

            input[type="range"]
            {
                max-width: 130px;
            }

            output
            {
                font-family: inherit;
                font-size: 17px;
            }
        }
    }

    #buttons
    {
        margin-top: 20px;
    }
}

