* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  background-color: #131313;
  color: #FFFFFF;
  font-family: "Inclusive Sans", sans-serif;
}

a {
  color: inherit;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #dfdfdf;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: #fc6f03 solid underline;
  text-underline-offset: 2px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-top: 15px;
}

select {
  min-width: 100px;
  appearance: none;
  -webkit-appearance: none;
  font-size: 15px;
  padding: 10px 10px;
  background-color: transparent;
  color: #cc5800;
  border: 1px solid #cc5800;
  border-radius: 0.25rem;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}

section#generator {
  font-family: "Montserrat", sans-serif;
}
section#generator header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  background-color: #131313;
  margin-bottom: 45px;
}
section#generator header #header-name {
  display: flex;
  flex-direction: column;
}
section#generator header #header-name h1 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
}
section#generator header #header-name h1 span {
  display: block;
  font-family: "Inclusive Sans", sans-serif;
  font-size: 15px;
  max-width: 150px;
  letter-spacing: 0;
}
section#generator header nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
}
section#generator header nav ul li:not(section#generator header nav ul li:first-of-type) {
  margin-top: 8px;
}
section#generator header nav ul li a {
  transition: text-decoration-color 0.2s ease-in-out;
  text-decoration: #131313 solid underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
section#generator header nav ul li a.active {
  text-decoration: #fc6f03 solid underline;
}
section#generator #gameboy-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}
section#generator #gameboy-buttons .gameboy-button {
  border: 1px solid #fc6f03;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
section#generator #gameboy-buttons .gameboy-button:after {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fc6f03;
}
section#generator #gameboy-buttons .gameboy-button:first-of-type {
  margin-right: 20px;
  margin-top: 20px;
}
section#generator #gameboy-buttons .gameboy-button:first-of-type:after {
  content: "A";
}
section#generator #gameboy-buttons .gameboy-button:last-of-type {
  margin-right: 100px;
}
section#generator #gameboy-buttons .gameboy-button:last-of-type:after {
  content: "B";
}
section#generator #display {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fc6f03;
  border-radius: 3px;
}
section#generator #display h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  word-spacing: 15px;
  line-height: 4.5rem;
  color: #dfdfdf;
}
section#generator #options {
  margin-top: 20px;
}
section#generator #options .option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1C1C;
  color: black;
  padding: 20px 20px;
  border-radius: 5px;
}
section#generator #options .option:not(section#generator #options .option:last-of-type) {
  margin-bottom: 15px;
}
section#generator #options .option label {
  font-size: 19px;
  letter-spacing: 2px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #dfdfdf;
}
section#generator #options .option input[type=range] {
  max-width: 130px;
}
section#generator #options .option output {
  font-size: 21px;
  letter-spacing: 1px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  color: #dfdfdf;
  margin-left: 10px;
}
section#generator #buttons {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#generator #buttons button {
  background-color: transparent;
  color: #fc6f03;
  border: 1px solid #fc6f03;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
section#generator #buttons button:hover {
  background-color: #fc6f03;
  color: #131313;
}

section#about {
  padding-top: 30px;
}
section#about #links {
  margin-top: 10px;
}
section#about #links ul {
  list-style: none;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
section#about #links ul li a {
  font-family: "Montserrat", sans-serif;
  color: #cc5800;
  text-transform: uppercase;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 0;
}
section#about #links ul li a:before {
  content: "[ ";
}
section#about #links ul li a:after {
  content: " ]";
}
section#about #links ul li a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
